<div class="container">
	<b>タグ</b>
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <%= link_to "#{tag.name}(#{tag.taggings_count})", { :action => :tag, :name => tag.name }, :style=>"color:lime;" %>
	<% end %>

	<!-- アニメ更新 -->
	<div class="row">
		<div class="col-sm-6">
			<%= form_with model:@anime, url:users_anime_path(@anime), method: :patch, local: true do |anime| %>
				<h2 class="text-center">編集</h2>
				<%= render 'form', anime: anime %>
				<%= anime.submit "更新" %>
				<%= link_to "戻る", users_anime_path %>
			<% end %>
		</div>

		<div class="col-sm-6">
			<%= render 'list' %>
		</div>
	</div>
</div>