<h1>新規登録・一覧</h1>

<div class="box">
	<div class="box1">
		<h1>タグ</h1>
		<% @tags.each do |tag| %>
		<%= link_to "#{tag.name}(#{tag.taggings_count})" %>
		<% end %>
	</div>

	<!-- アニメ登録 -->
	<div class="box2">
	<%= form_with model:@anime, url:users_anime_index_path, method: :post, local: true do |f| %>
		<p>アニメタイトル<%= f.text_field :title %></p>
		<p>部活名<%= f.text_field :circle %></p>
		<p>活動内容<%= f.text_area :activity_content %></p>
		<p><%= f.attachment_field :image %></p>
		<p>詳細link<%= f.text_field :link %></p>
		<p>タグ<%= f.text_field :tag_list %></p>
		<%= f.submit "送信" %>
	<% end %>
	</div>

	<%= render 'list' %>
</div>








