<div class="container">
	<b>タグ</b>
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <%= link_to "#{tag.name}(#{tag.taggings_count})", { :action => :tag, :name => tag.name }, :style=>"color:lime;" %>
	<% end %>

	<!-- アニメ登録 -->
	<div class="row">
		<div class="col-sm-6">
			<%= form_with model:@anime, url:users_anime_index_path, method: :post, local: true do |anime| %>
				<h2 class="text-center">申請</h2>
				<% if current_user != nil %>
					<%= render 'form', anime: anime %>
					<%= anime.submit "送信" %>
				<% else %>
					<p>入学(ログイン)をすると<br>
					   部活申請/編集/入部(お気に入り)が出来るよ!!</p>
				<% end %>
				<%= link_to "Top", tag_users_anime_index_path %>
			<% end %>
		</div>

		<div class="col-sm-6">
			<%= render 'list' %>
		</div>
	</div>
</div>








