<!DOCTYPE html>
<html>
  <head>
    <title>FictitiousCircle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <%= link_to "top", root_path, :style=>"color:white;" %>
        <%= link_to "index", users_anime_index_path, :style=>"color:white;" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style=>"color:white;" %>
      </header>
    <% else %>
      <header>
        <%= link_to "top", root_path, :style=>"color:white;" %>
        <%= link_to "index", users_anime_index_path, :style=>"color:white;" %>
        <%= link_to "ログイン", new_user_registration_path, :style=>"color:white;" %>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
