<!DOCTYPE html>
<html>
  <head>
    <title>FictitiousCircle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to "top", users_anime_top_path, :style=>"color:white;" %>
        <%= link_to "申請", users_anime_index_path, :style=>"color:white;" %>
        <%= link_to "帰宅", destroy_user_session_path, method: :delete, :style=>"color:white;" %>
      <% else %>
          <%= link_to "top", users_anime_top_path, :style=>"color:white;" %>
          <%= link_to "申請", users_anime_index_path, :style=>"color:white;" %>
          <%= link_to "入学", new_user_session_path, :style=>"color:white;" %>
      <% end %>

      <% if admin_signed_in? %>
        <%= link_to "管理者top", admins_anime_index_path, :style=>"color:white;" %>
        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, :style=>"color:white;" %>
      <% end %>
    </header>

    <div class="text-center">
      <%= link_to users_anime_top_path, :style=>"color:white;" do %>
        <h1>FictitiousCircle</h1>
      <% end %>

      <%= form_with url: search_users_anime_index_path, method: :get, local: true do |anime| %>
        <%= anime.text_field :title, :style=>"color:black;" %>
        <%= anime.submit :検索 %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
